openai
fastapi
langchain
langchain-community
langchain-core
langchain-openai
numpy
python-multipart
requests
uvicorn
gunicorn
docx2txt
random-object-id
bs4
langchain-experimental
PyMuPDF
pydantic
chromadb
anyio
certifi
exceptiongroup
h11
h2
hpack
httpcore
httpx[http2]
hyperframe
idna
loguru
sniffio
typing-extensions
urllib3
websocket-client
seqlog
lc-sdk-python
pymongo[srv]
pytz
tiktoken
redbird
python-jose[cryptography]
passlib